@use "../../../common_styles/mixins" as *;

.item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--main-color);
    text-decoration: none;

    &:hover {
        @include text-shadow-template(var(--second-color));
        transition: 0.3s linear;
        color: var(--second-color);

        svg {
            transition: 0.3s linear;
            fill: var(--second-color);
        }
    }
}