body {
    background: url('/bg-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100%;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: var(--main-color);
}

.appWrapper {
    width: 850px;
    display: flex;
    gap: 15px;
    margin: 0 auto;
    margin-top: 20px;
}